.column-1 {
   float: left;
    width: 50%;
}

header h1 {
    text-align:center;
}

header {
    display:block;
}

header img {
    margin:0 auto;
    display:block;
}
.column-2 {
    float: right;
    width: 50%;
}

body {
    background-color: burlywood;
}
h1, h2 {
    font-family: Cursive;
}

img {
    width: 300px;
}